# List in Python

A list is a data structure in Python that is a **mutable**, **ordered** sequence of elements. Each element or value that is inside of a list is called an item. Lists are defined by having values between square brackets [ ]. Since lists are indexed, lists can have duplicates.

In [1]:
# Example of creating a list
list = [1,'a','Ram',2.453]
print(list)

[1, 'a', 'Ram', 2.453]

### Access any element of the list

In [2]:
print(list[0])      # Accessing first item
print(list[-1])     # Accessing last item

1
2.453

In [3]:
# Accessing items from multi-dimensional list
list2 = [['Name','FName'],['LName'],['Ram','Verma',23]]
print(list2[2][1])

Verma

### Indexing

In [4]:
list = ['My','name','is','Aayush','Saxena','and','My','age','is','25','years','old']
print(list[:5])
print(list[6:])

['My', 'name', 'is', 'Aayush', 'Saxena']
['My', 'age', 'is', '25', 'years', 'old']

### Adding items to the list

In [9]:
list=[1,2,3,4,5]
list.append(6)
list.append([7,8])       # Adding another list to existing list
print(list)

[1, 2, 3, 4, 5, 6, [7, 8]]

### Reversing a list

In [15]:
list = [1,2,3,4,5]
list.reverse()
print(list)

[5, 4, 3, 2, 1]

### Removing an item from list

In [16]:
list.remove(3)
print(list)

[5, 4, 2, 1]

In [17]:
# Removing the last item, 1
list.pop()
print(list)

[5, 4, 2]

### Sorting the list

In [18]:
list = [101, 50, 65, 82, 23, 79, 44, 11, 3, 99]
list.sort()
print(list)

[3, 11, 23, 44, 50, 65, 79, 82, 99, 101]

### List Comprehension

In [19]:
# Calculating the square of odd numbers in the given range
odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1]
print(odd_square)

[1, 9, 25, 49, 81]

### Join 2 lists

In [20]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]